<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Socialaser</title>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
  <div id="app">
    <div class="row">
      <div id="logo">
        <h1>SOCLASER</h1>
      </div>
      <!-- IF NOT LOGGINED -->
      <div v-if="!auth" class="sign_in">
        <div class="col col-8">
          <input type="text" class="input" placeholder="App Token" v-model="inputAppToken">
        </div>
        <div class="col col-4">
          <button class="btn btn-block btn-blue" @click="sign_in">Sign In</button>
        </div>
      </div>
      <!-- IF LOGGINED -->
      <div v-else class="profile">
        <div class="row">
          <ul class="groups-list">
            <li v-for="group in groups">
              <img v-bind:src="group.photo" height="24">
              <a
                href="https://vk.com/{{group.link}}"
                id="group-{{group.id}}"
                target="_blank"
                v-if="group.network == 1"
              >
                {{ group.title }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col col-6">
          <button class="btn btn-block btn-blue" @click="sign_out">SignOut</button>
        </div>
        <div class="col col-6">
          <button class="btn btn-block btn-green" @click="refresh">Refresh</button>
        </div>
      </div>
    </div>
    <!-- ALWAYS  -->
    <div style="margin-top: 50px">
      <!-- <button class="btn btn-block btn-red" @click="test">Test</button>
      <button class="btn btn-block btn-green" @click="plus">+</button>
      <span>{{plusValue}}</span> -->
    </div>
  </div>

  <script src="vue.js"></script>
  <script src="popup.js"></script>
</body>
</html>
