body {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 75%;
  display: block;
  margin: 0px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* box-sizing: border-box; */
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

:focus {
  outline: none;
  outline-color: inherit;
  outline-style: auto;
  outline-width: 0;
}
#app {
  width: 300px;
  min-height: 150px;
  padding: 10px;
}

#logo {
  text-align: center;
}

.input {
  height: 34px;
  border: 1px solid #d2d6de;
  padding: 6px 12px;
}

.groups-list a {
  vertical-align: top;
  line-height: 24px;
}
.groups-list a:visited {
 color: inherit;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row:after, .row:before {
  display: table;
  content: " ";
}
.row:after {
  clear: both;
}
.row:after, .row:before {
  display: table;
  content: " ";
}

.col{
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-4 {
  width: 33.33333334%;
}
.col-6 {
  width: 50%
}
.col-8 {
  width: 66.66666667%
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btn-blue {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #367fa9;
}
.btn-blue:hover {
  background-color: #367fa9;
  border-color: #122b40;
}
.btn-blue.disabled:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-green {
  color: #fff;
  background-color: #34a85a
}
.btn-green:hover {
  background-color: #449d44;
  border-color: #398439;
}
.btn-green.disabled:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-red {
  color: #fff;
  background-color: #dd4b39
}
.btn-red:hover {
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-red.disabled:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}
