.tva_share_icon::before {
  content: "\f027";
}

.groups-list {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 5px;
  background: white;
  border: 1px solid #e6ecf0;
  text-align: left;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
}

.groups-list li:hover {
  text-decoration: underline;
}

.ProfileTweet-actionButton {
  position: relative;
}

.ProfileTweet-actionButton:hover .groups-list {
  display: block;
}
